@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Start Here */
section.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  /* border: 2px solid red; */
}

.box {
  width: 80rem;
  height: auto;
  /* border: 2px solid red; */
}

.main-container {
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 40px 2px rgba(59, 145, 253, 0.613);
}

h1.text-center {
  color: #050086;
  margin: 20px;
  font-weight: bold;
  font-size: 37px;
  text-shadow: 2px 2px 0px rgba(44, 121, 230, 0.754);
}

.footer {
  font-weight: bolder;
  margin-top: 22px;
  text-align: center;
  color: rgba(25, 77, 151, 0.754);
}

h2 {
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
}

.img-container {
  width: 50%;
  height: 100%;
  padding: 3.4rem;
  background-color: #1D1F36;
  animation: slide-down 0.5s ease;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  
  100% {
    transform: translateY(0);
  }
}

.img-container img {
  width: 100%;
  height: 100%;
}

.form-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-up 0.5s ease;
  background-color: #E1EDFD;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  
  100% {
    transform: translateY(0);
  }
}

form a {
  font-size: 1.2rem;
  text-decoration: none;
}

form span {
  display: block;
  font-size: 1.2rem;
}

.register {
  display: none;
}

.forgot {
  display: none;
  position: relative;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 3rem;
  width: 3rem;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-times {
  color: red;
  font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
  .img-container {
    display: none;
  }
  
  .form-container {
    width: 100%;
  }
}
